
/* Home Page Style */

body, h1, h2, p, ul, li, button, input, textarea {
    margin: 20;
    padding: 10;
    box-sizing: border-box;

}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    
}

header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    position: absolute;
    top: calc(30% - 50px);
    left: 5px;
    flex-direction: column;
}

.menu li {
    margin: 8px 0;
    font-size: 20px;
    
}



.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ffc107;
}


.search-container  {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 200%;
  }
  
  .search-container  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  


.search-button {
    background-color: #ffc107;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #ff9800;
    align-items: right;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    

}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
}

.options-container {
    display: flex;
    align-items: center;
}

.menu-icon {
    font-size: 24px;
}




.upload-option {
    margin-bottom: 20px;
}

.upload-option label {
    font-weight: bold;
    margin-bottom: 5px;
}


/* Other styles for the page */

#sidebar {
    width: 200px;
    background-color: #510edf;
    color: #510edf;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4.3%;
  }

  .real {
    text-align: center;
    margin-left: 180px;
    margin-top: 35px;
    font-size: 32px;
    font-weight: bold;
  }


/* Text Button */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    font-size: 20px;
    
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.input-text {
    width: 70%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block; 
    margin: 0 auto; 
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    margin: 0 auto; 
    margin-top: 10px; 
}

.submit-button:hover {
    background-color: #0056b3;
}



 /* Image CSS styles */
        .image-container {
            text-align: center;
            

        }

        .image-container img {
            max-width: 42%; 
            display: block;
            margin: 0 auto; 
            
        }

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 32vh; 
        }


/* Table  Style  */
.music-table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 220px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 20px;
    
}

.music-table th, .music-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center; 
}

.music-table th {
    background-color: #007bff; 
    color: #fff; 
    font-weight: bold;
    
    
}

.music-table tr:nth-child(even) {
    background-color: #f5f5f5;
    
}

.music-table tr:hover {
    background-color: #e0e0e0;
}


.bg-even {
    background-color: #eaf2fd; 
}

.bg-odd {
    background-color: #f9e1e1; 
}
